body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-img {
    background-image: url("odeomuCM.jpg");
    width: 720px;
    height: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button-visit {
    background-color: #457B9D;
    width: 170px;
    height: 30px;
    margin-top: 130px;
    left: 247px;
    border-radius: 10px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: #FFFFFF;
    padding: 2px 2px 2px 2px;
}
.enjoy {
    width: 290px;
    height: 40px;
    background: #1D3557;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    margin-top: 5px;
    padding: 2px 2px 2px 2px;
}
.activities {
    width: 720px;
    height: 378px;
    background: #F1FAEE;
    text-align: center;
    color: #1D3557;
}
.guide-section {
    width: 720px;
    height: 394px;
    background: linear-gradient(#FFFFFF, #F1FAEE);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px 20px 10px;
}
.frame-guide {
    padding: 40px 20px 0px 20px;
    background: #A8DADC;
    width: 400px;
    height: 294px;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 4px solid #1D3557
}
.guide-frame-img {
    width: 180px;
    height: 249px;
    top: 73px;
    left: 173px;
    border-radius: 10px;

}
.wording {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D3557;
    font-style: italic;
}
#footer {
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #1D3557;
    background: #F1FAEE;
    border: 1px solid #A8DADC;
    border-radius: 5px;
}
